body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: blue;
    animation: blink 2s linear infinite;
}

@keyframes blink {

    50% {
        opacity: 0;
    }

}

img {
    width: 16vw;
    height: 16vw;
}